body{
    margin:0;
    text-align: center;
    font-family:'merriweather', serif;

}
h1{ 
    color: #11cdd4;
   font-size:  562.5%; 
   margin-top: 0;
   font-family: 'sacramento',cursive;
   
}
P{
    font-size: 100%;
}

h2{
    color: #11cdd4;
    font-size: 2.5rem;
    font-family: 'montserrat'sans-serif;
    margin: 50px auto 0 auto;
}
h3{
    font-family: 'montserrat'sans-serif;
}
hr{
    border: dotted 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px;
}
div{
    background-color: white;
}
.top-container{
    background-color:#CCF3EE;
    position: relative;
    padding-top: 100px;
}
.bottom-container{
    background-color: #CCF3EE;
    padding: 20px;
}
.profile{
    padding: 20px;
}
.intro{
    width: 30%;
    margin: auto;
}
.des{
    text-decoration: underline;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.contact-message{
    width:40%;
    margin: 40px auto 60px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #2980b9);
    background-image: -moz-linear-gradient(top, #11cdd4, #2980b9);
    background-image: -ms-linear-gradient(top, #11cdd4, #2980b9);
    background-image: -o-linear-gradient(top, #11cdd4, #2980b9);
    background-image: linear-gradient(to bottom, #11cdd4, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  a{
      text-decoration-color: #C4DFAA;
      font-family: 'montserrat', sans-serif;
      text-decoration: none;
      margin: 10px 20px;
  }
  

